<!DOCTYPE html>
<html>
    <head> 
            <link rel="stylesheet" href="./css/styles.css">
            <title>Weather: About</title>
            <link rel="icon" href="/images/icon.png">
    </head>
    
    <body bgcolor="white"> 
        <div class="main-content">
                {{>header}}
                    <p>This site was created by Ashutosh Raj . It uses data from <a href="https://www.mapbox.com">mapbox</a><br /> 
                    and <a href="https://darksky.net">darksky</a> </p>
                    <img class ="portrait" src="./images/ashu.jpg">
                    <h3>Ashutosh Raj</h3>
                    <p>Hello Everyone. I am a Quality Assurance Engineer by profession.<br />
                    This is demo application to test backend of my nodeJS application </p>


        </div>
        
        {{>footer}}

    </body>
</html>     