<!DOCTYPE html>
<html>
    <head> 
        <title>Weather : Error</title>
        <link rel="icon" href="/images/icon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    
    <body bgcolor="Cyan"> 
        <div class="main-content">
                {{>header}}
                <p>{{errorMsg}}</p>
        </div>
        
        {{>footer}}
        
    </body>
</html>