<!DOCTYPE html>
<html>
    <head> 
            <title>Weather: Help</title>
            <link rel="stylesheet" href="./css/styles.css">
            <link rel="icon" href="/images/icon.png">
            <title>Weather: About</title>
    </head>
    
    <body bgcolor="Cyan"> 
        <div class="main-content">
                {{>header}}
                <p>Look here for the help you seek</p>
        </div>
        
        {{>footer}}
        
    </body>
</html>